/*div {
    width: 100px;
    height: 300px;
    display: inline-block;
    margin: 100px 75px;
}*/
body {
    background-color: lime;
}
#top {
    background-color: mediumturquoise;
    height: 100px;
}
#two {
    background-color: firebrick;
    width: 700px;
    height: 500px;
    margin: 0px;
    display: inline-block;
}
#three {
    background-color: navy;
    width: 400px;
    height: 500px;
    margin: 25px;
    display: inline-block;
}
#bottom {
    background-color: purple;
    height: 75px;
}